<!DOCTYPE html>
<html>
<head>
  <title>EdgeAuth</title>
  <%= stylesheet_link_tag    "edge-auth/application", :media => "all" %>
  <%= javascript_include_tag "edge-auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
