.bundle/
log/*.log
pkg/
rspec/dummy/db/*.sqlite3
rspec/dummy/log/*.log
rspec/dummy/tmp/
rspec/dummy/.sass-cache
.project
doc/api
doc/app
*.swp
*~
.DS_Store
webrat.log
nbproject/
nbproject/*
.sass-cache/
.idea/
.idea/*
.idea/**/*
public/assets
public/assets/*
coverage
coverage/*
